body {
    line-height: 1.5 !important;
    font-weight: 400 !important;
    color-scheme: light dark !important;
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: #242424 !important;
    font-synthesis: none !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.vertical-align{
    align-items: center;
}
